<mat-toolbar>
    <mat-toolbar-row>
        <button *ngIf="show" mat-icon-button (click)="toggleSideBar()">
            <mat-icon>menu</mat-icon>
        </button>
        <span> INF354 Homework Assignment 5</span>
        <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
            <ul fxLayout="row" fxLayoutGap="20px">
                <li>
                    <button *ngIf="show"  mat-button (click)="Logout()">
                        <mat-icon>exit_to_app</mat-icon>
                    </button>
         
                </li>
            </ul>
        </div>
    </mat-toolbar-row>
</mat-toolbar>