
<div *ngIf="!showError" class="row">
    <div class="col">
        <form autocomplete="off">
            <mat-card>
                <h2 class="w3-wide"><b>Suppliers</b></h2>
                <p class="w3-opacity"><i>All company Suppliers</i></p>
                    <table class="table table-hover">
                        <th>SupplierID</th>
                        <th>Supplier Name</th>
                        <th>Contact Person</th>
                        <th>Email</th>
                        <th>Cell</th>
                        <tr *ngFor="let obj of listSupplier">
                          <td>{{obj.SupplierID}}</td>
                          <td>{{obj.SupplierName}}</td>
                          <td>{{obj.ContactPersonName}} {{obj.ContactPersonSurname}}</td>
                          <td>{{obj.ContactPersonEmail}}</td>
                          <td>{{obj.ContactPersonCell}}</td>
                        </tr>
                    </table>                
            </mat-card>
        </form>
    </div>
</div>

<div *ngIf="showError" class="row">
    <div class="col">
        <form autocomplete="off">
            <mat-card>
                <h2 class="w3-wide" id="errorMessage"><b>{{errorMessage}}</b></h2>     
                <h3 class="w3-wide"><a style="color:blue" routerLink='/login'>Click here to login</a></h3>                  
            </mat-card>
        </form>        
    </div>
</div>
