
<div *ngIf="!showError" class="row">
    <div class="col">
        <form  autocomplete="off">
            <mat-card>
                <h2 class="w3-wide"><b>Customers</b></h2>
                <p class="w3-opacity"><i>All company Customers</i></p>
                    <table class="table table-hover">
                        <th>CustomerID</th>
                        <th>Name</th>
                        <th>Surname</th>
                        <th>Cell</th>
                        <th>Company</th>
                        <tr *ngFor="let obj of listCustomer">
                            <td>{{obj.CustomerID}}</td>
                            <td>{{obj.Name}}</td>
                            <td>{{obj.Surname}}</td>
                            <td>{{obj.Cell}}</td>
                            <td>{{obj.Company}}</td>
                        </tr>
                    </table>              
            </mat-card>
        </form>        
    </div>
</div>

<div *ngIf="showError" class="row">
    <div class="col">
            <mat-card>
                <h2 class="w3-wide"><b>{{errorMessage}}</b></h2>      
                <h3 class="w3-wide"><a style="color:blue" routerLink='/login'>Click here to login</a></h3>            
            </mat-card>         
    </div>
</div>

