
<div class="w3-container w3-content w3-center w3-padding-64" style="max-width:600px; padding:5%">
    <mat-card>
    <h2 class="w3-wide"><b>Login</b></h2>
    <p class="w3-opacity"><i>Enter your login credentials</i></p>
      <form #form="ngForm">              
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Email Address</mat-label>
            <input  name="UserEmail" #UserEmail="ngModel" [(ngModel)]="formDataLogin.UserEmail" matInput placeholder="pat@example.com"   autocomplete="off" required>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input name="UserPassword" #UserPassword="ngModel" [(ngModel)]="formDataLogin.UserPassword" matInput required>   
        </mat-form-field>
      </form> 
      <a href="/register">Click here to Register</a>
      <div>
        <button style="text-align: center; font-size: medium; margin:20px" mat-raised-button type="button">Back</button>
        <button style="text-align: center; font-size: medium; margin:20px" mat-raised-button (click)="Login(form)" type="button" [disabled]="form.invalid">Login</button>
      </div>

      <div *ngIf="showError">
          <h2>{{errorMessage}}</h2>
      </div>
      <div *ngIf="showMessage">
          <h2>{{Message}}</h2>
      </div>
    </mat-card>
</div>



